[submodule "Donut"]
	path = External/Donut
	url = https://github.com/NVIDIAGameWorks/donut.git
	branch = main
[submodule "external/RayTracingDenoiser"]
	path = External/RayTracingDenoiser
	url = https://github.com/NVIDIAGameWorks/RayTracingDenoiser.git
[submodule "Libraries/Sharc"]
	path = Libraries/Sharc
	url = https://github.com/NVIDIAGameWorks/Spatial-Hash-Radiance-Cache.git
[submodule "Libraries/Nrc"]
	path = Libraries/Nrc
	url = https://github.com/NVIDIAGameWorks/Neural-Radiance-Cache.git
[submodule "Assets/Media"]
	path = Assets/Media
	url = https://github.com/NVIDIAGameWorks/RTXGI-Assets.git
